<ion-view>
    <div class="bar bar-header bar-positive">
        <button menu-toggle="left" class="button button-clear button-white">
            <img class="svg-nav" src="svg/menue.svg" alt="">
        </button>
        <h1 class="title">Вызвать Эвакуатор</h1>
        <button class="button button-icon icon ion-ios-information-outline button-clear button-white">
        </button>
    </div>
    <ion-content scroll="false" class="map-wrapper has-header">
    	<div class="map-container">
            <ui-gmap-google-map style='width: 100%' center='map.center' zoom='map.zoom' options="map.options" control="map.control">
            </ui-gmap-google-map>
            <div class="centerMarker"></div>
            <div class="use-info">
                <div class="alert">!</div>
                <div class="text">
                    <b>Перемещайте булавку по карте</b>
                    <p>Для точного определения вашего местоположения</p>
                </div>
            </div>
            <div class="no-geoposition">
                Геопозиция не определена <i class="ion-navigate"></i>
            </div>
            <button class="add round-button green">
                <i class="ion-plus-round"></i>
            </button>
        </div>
    </ion-content>
</ion-view>