<ion-modal-view>
    <div class="bar bar-header bar-positive">
        <button menu-toggle="left" class="button button-clear button-white">
            <img class="svg-nav" src="svg/menue.svg" alt="">
        </button>
        <h1 class="title">Вызвать Эвакуатор</h1>
        <button class="button button-icon icon ion-ios-information-outline button-clear button-white"></button>
    </div>
    <ion-content scroll="false" class="map-wrapper has-header">
    	<div class="map-container">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" control="map.control"></ui-gmap-google-map>
            <div class="centerMarker"></div>
            <div class="call-evacuation">
                <button  ng-click="modal.hide()" class="remove round-button red">
                    <i class="ion-close-round"></i>
                </button>
            </div>
            <div class="evacuation-info">
                <div class="adress">
                    <div class="icon">
                        <div class="hexa">
                            <i class="ion-ios-home-outline"></i>
                        </div>
                    </div>
                    <div class="adress-name">
                        {{geoTitle}}
                    </div>
                </div>
                <div class="car-info">
                    <div class="field">
                        <div class="dott"></div>
                        <div class="info">
                            <label>Авто</label>
                            <input type="text" placeholder="Марка, модель">
                        </div>
                    </div>
                    <div class="field">
                        <div class="dott"></div>
                        <div class="info">
                            <label>Гос номер</label>
                            <input type="text" placeholder="x000xx000">
                        </div>
                    </div>
                    <div class="field">
                        <div class="dott"></div>
                        <div class="info">
                            <label>Комментарий</label>
                            <input type="text" placeholder="Причина">
                        </div>
                    </div>
                </div>
                <div class="call">
                    <a ui-sref="app.map03">
                        <button ng-click="modal.hide()">Вызвать Эвакуатор</button>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>