<ion-view>
    <ion-side-menus enable-menu-with-back-views="false">
        <!-- Center content -->
        <ion-side-menu-content>
            <ion-nav-view name="menuContent">

            </ion-nav-view>
        </ion-side-menu-content>


        <ion-side-menu side="left">
            <ion-content scroll="false" class="ev-side-menue">
                <div class="user">
                    <div class="ava">
                        <i class="ion-person"></i>
                    </div>
                    <div class="info">
                        <div class="name">BEEL PAU</div>
                        <div class="car">Mercedes-Benz GLK 500</div>
                    </div>
                </div>
                <nav class="links">
                    <a menu-close ui-sref="app.map01">
                        <i class="ion-model-s"></i>
                        Вызвать эвакуатор
                    </a>
                    <a menu-close ui-sref="app.profile">
                        <i class="ion-model-s"></i>
                        Мой профиль
                    </a>
                    <a menu-close ui-sref="app.service">
                        <i class="ion-settings"></i>
                        Автосервис
                    </a>
                    <a menu-close ui-sref="app.contact">
                        <i class="ion-ios-book"></i>
                        Контакты
                    </a>
                    <a ng-click="onExit();">
                        <i class="ion-log-out"></i>
                        Выход
                    </a>
                </nav>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>