<ion-view class="spalsh-bg">
    <ion-content scroll="false" class="valign">
    	<div class="splash-container">
    		<div class="logo">
                <img width="104px" src="svg/car.svg" alt="">
            </div>
    		<div class="title">
				Эвакутор <b>Сервис</b>
			</div>
            <div class="form signin">
                <div class="ev-input icon">
                    <i class="ion-person"></i>
                    <input type="tel" placeholder="Номер телефона">
                </div>
                <div class="ev-input icon">
                    <i class="ion-locked"></i>
                    <input type="password" placeholder="Ваш пароль">
                </div>
                <button class="ev-button button-green">
                    Войти
                </button>
                <div class="recover">
                    <a href="">Забыли пароль?</a> <br>
                    Еще нет аккаунта?  <a href="">Зарегестрироваться</a>
                </div>
            </div>
    	</div>
    </ion-content>
</ion-view>