<ion-view class="spalsh-bg">
    <div class="bar bar-header bar-transparent">
        <button ng-click="goBack()" class="button icon-left ion-ios-arrow-back button-clear button-white">Назад</button>
    </div>
    <ion-content class="has-header">
    	<div class="splash-container padding">
    		<div class="logo">
    			<img width="103px" src="svg/car.svg" alt="">
    		</div>
            <div class="form signup">
                <div class="ev-input">
                    <input type="text" placeholder="Ваш ник">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="ev-select">
                            <i class="ion-ios-arrow-down"></i>
                            <select name="" id="">
                                <option default value="">Марка авто</option>
                                <option value="">Mazda</option>
                                <option value="">Nissand</option>
                                <option value="">Mercedes-Benz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="ev-select">
                            <i class="ion-ios-arrow-down"></i>
                            <select name="" id="">
                                <option value="">Модель</option>
                                <option value="">Tiida</option>
                                <option value="">Almera</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ev-input">
                    <input type="text" placeholder="ГОС НОМЕР X000XX000">
                </div>
                <div class="ev-input">
                    <input ng-model="user.tel" autocomplete="tel" autocorrect="off" type="tel" placeholder="Номер телефона">
                </div>
                <button class="ev-button button-green">
                    Выслать пароль
                </button>
                <div class="ev-input">
                    <input ng-model="user.pwd" autocomplete="tel" autocorrect="off" type="tel" placeholder="Пароль из SMS">
                </div>
                <button class="ev-button button-blue">
                    Зарегестрироваться
                </button>
                
                <div class="recover">
                    Уже есть аккаунт? <a ui-sref="signin">Войти</a>
                </div>
            </div>
    	</div>
    </ion-content>
</ion-view>